/* yeeeee 2018 2.8 */
body { margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; padding:0px; font-size:24px;font-family:"微软雅黑",Tahoma,Arial,sans-serif;}
dl,dt,dd,h1,p,img,h2,p{padding:0px; margin:0px;}
* body{ max-height: 999999px; } 
* {
    padding: 0;
    margin: 0;
    max-height: 100000000px;
}
ul{ padding:0px; margin:0px;}
li { list-style:none }
A:link { color: #4B4B4B; TEXT-DECORATION: none }
a:visited {color: #4B4B4B;text-decoration: none;}
a,img,button,input,textarea,div,span,li{-webkit-tap-highlight-color:rgba(255,255,255,0);}
A:hover { text-decoration: none; }

:focus { -moz-outline-style: none }
.clear { clear: both }
.hidden { display: none }
.block { display: block }
.left { float: left }
.right { float: right }
.mCon_conTxt{overflow:hidden; background:#fff;}
.mChangeTag{width:640px; margin:0 auto;}
.bx_chgBtn { width:640px;background:#fff; overflow: hidden;}
.bx_chgBtn ul .mCon_btn { color: #000; float: left; font-size:1.0em; text-align: center; width:20%; margin-top: 15px;}
.bx_chgBtn ul .mCon_Cutbtn { color: #f37938; font-size:1.0em; margin-top:15px;}


